/* 

TODO: Change all classes to ID where applicable 

*/

body {
  margin: 0;
}

.nav {
  background-color: #333;
  padding: 20px 10px;

  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.navItem {
  text-decoration: none;
  background-color: rgb(71, 71, 71);
  color: white;
  font-size: medium;
  width: 100%;
  height: 100%;
  max-width: 20%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.navItem:hover {
  background-color: cadetblue;
}

.navItem.active {
  background-color: royalblue;
}

.navHomeItem {
  font-size: large;
}

.footer {
  color: white;
  background-color: #333;
  padding: 20px 10px;
}

.page-title {
  font-size: x-large;
  margin: 0;
  font-weight: bold;
}

.projects-page-root {
  background-color: rgb(99, 128, 152);
  height: 100%;
  width: 100%;
  padding: 10px;
}

.projects-container {
  background-color: rgba(28, 92, 94, 0.714);
  padding: 5px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-item {
  background-color: rgba(86, 145, 147, 0.678);
  color: goldenrod;
  padding: 2px;

  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

  display: flex;
}

.project-item-image {
  flex: 1;
  height: 250px;
  margin: 0 10px 0 0;
}

.project-item-info-container {
  flex: 2;
  padding: 2px;
}

.project-item-button-container {
  display: flex;
  justify-content: right;
}

.project-item-button {
  background-color: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  margin: 1px;
}

.project-item-button:hover {
  background-color: goldenrod;
}

.project-item-button:active {
  background-color: red;
}

.project-item:hover {
  background-color: rgb(86, 145, 147);
}
